*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

#main-container{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/img1.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: black;
}

.top-btn{
    color: #ffffff88;
    position: fixed;
    top: 80px;
    width: 20px;
    text-align: center;
}

/* HEADER */

header{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    display: flex;
    margin: 0 130px;
    align-items: center;
}

.logo .circle{
    background-color:#ffffff;
    border-radius:50%;
    width:2px;
    height:2px;
    border:2px solid #ffffff; 
    margin:2px;
    text-align:center;
}

h2{
    color: aliceblue;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    padding: 20px 20px
}

nav ul li a{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 10px;
    font-weight: 500;
    text-decoration: none;
    color: aliceblue;
    font-family: 'Anybody', cursive;
    transition: ease-in-out .3s;
}

nav ul li a:hover{
    color: rgb(119, 119, 119);
}

/* SECTION CARD */

.card-section{
    position: relative;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    min-height: 100vh;
}

.card-container{
    text-transform: uppercase;
    transition: ease-in-out .3s;
    color: black;
}


.card {
    display: block;
    width: 250px;
    height: 280px;
    margin: 40px 50px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    text-align:center;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

.card h5{
    transition: all ease-in-out .3s;
}


.card:hover h5{
    display: none;
}

.card#card-1{
    background-image: url(img/pic1.jpg);
}

.card#card-2{
    background-image: url(img/pic2.jpg);
}

.card#card-3{
    background-image: url(img/pic3.webp);
}

.card-container:hover{
    transform: translateY(-3%);
}

/* SECTION */

.section1{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}


.section1::after{
    content:'';
    width: 0px;
    height: 5px;
    background-color: rgba(139, 145, 139, 0.555);
    position: absolute;
    bottom: 140px;
    left: 250px;
    transition: all ease-in-out .9s;
}

.section1:hover::after{
    width:66%;
}

.img-part{
    display: block;
    height: 400px;
    margin-right: 5px;
}

.text-part{
    background-color: rgba(72, 77, 72, 0.555);
    width: 500px;
    height: 400px;
    margin-left: 5px;
    padding: 50px;
    text-align: justify;
}

.text-part p{
    margin-top: 50px;
    font-size: 15px;
    font-weight: 200;
    font-family: 'Anybody', cursive;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

/* MEDIA QUERIES */

@media all and (max-width: 1400px){

}

@media all and (max-width: 1200px){
    
    .section1::after{
        bottom: 115px;
    }

    .section1#ocean-section::after{
        width: 600px;
    }
}
@media all and (max-width: 992px){
    header{
        flex-direction: column;
    }


    .card-section{   
        flex-direction: column;
    }

    .card-container{
        justify-content: center;
        align-items: center;
    }

    .card{
        margin-right: 0;
        margin-left: 0;
        width: 175px;
        height: 230px;
    }

    .card h5{
        font-size: 12px;
        letter-spacing: 7px;
    }

    .section1{
        flex-direction: column;
    }

    .img-part{
        height: 250px;
    }

    .text-part{
        height: 300px;
        width: 400px;
    }

    .text-part p{
        margin-top: 30px;
        font-size: 12px;
        font-weight: 200;
        font-family: 'Anybody', cursive;
        color: white;
        font-family: 'Montserrat', sans-serif;
    }

    .section1::after{
        display: none;
    }
    
}
@media all and (max-width: 768px){
    .img-part{
        height: 170px;
    }

    .text-part{
        height: 300px;
        width: 300px;
        padding: 40px;
    }

    .text-part p{
        margin-top: 20px;
        font-size: 12px;
        font-weight: 200;
        font-family: 'Anybody', cursive;
        color: white;
        font-family: 'Montserrat', sans-serif;
    }

    .text-part h2{
        letter-spacing: 3px;
        font-weight: 300;
        font-size: 12px;
    }

}
@media all and (max-width: 576px){

}
