*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img1.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    display: flex;
    flex-direction: column;
}

header{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    display: flex;
    margin: 0 130px;
    align-items: center;
}

.logo .circle{
    background-color:#ffffff;
    border-radius:50%;
    width:2px;
    height:2px;
    border:2px solid #ffffff; 
    margin:2px;
    text-align:center;
}

.logo h2{
    color: aliceblue;
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: pointer;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    padding: 20px 20px
}

nav ul li a{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 10px;
    font-weight: 500;
    text-decoration: none;
    color: aliceblue;
    font-family: 'Anybody', cursive;
    transition: ease-in-out .3s;
}

nav ul li a:hover{
    color: rgb(119, 119, 119);
}

.cards{
    position: relative;
    display: flex;
    color: white;
    justify-content: center;
    flex-grow: 1;
    align-items: center;

}

.card-container{
    text-transform: uppercase;
    transition: ease-in-out .3s;
    color: black;
}

.card-container:hover{
    transform: translateY(-3%);
    color: transparent;
}

.card {
    width: 250px;
    height: 280px;
    margin: 40px 50px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    text-align:center;
    cursor: pointer;
    background-position: center;
    background-size: cover;
}

.card#card-1{
    border-radius: 20px;
    background-image: url(pic1.jpg);
}

.card#card-2{
    border-radius: 10px;
    background-image: url(pic2.jpg);
}

.card#card-3{
    border-radius: 20px;
    background-image: url(pic3.webp);
}

.card h5{
    letter-spacing: 10px;
}

@media all and (max-width: 1400px){

}

@media all and (max-width: 1200px){

}
@media all and (max-width: 992px){
    header{
        flex-direction: column;
    }
    .cards{   
        flex-direction: column;
    }

    .card-container{
        justify-content: center;
        align-items: center;
    }

    .card{
        margin-right: 0;
        margin-left: 0;
        width: 175px;
        height: 230px;
    }

    .card h5{
        font-size: 12px;
        letter-spacing: 7px;
    }
}
@media all and (max-width: 768px){

}
@media all and (max-width: 576px){

}
